{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block slider %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock slider %}
{% block content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card contact-card text-center">
                <div class="card-body mb-7">
                    <h5 class="card-title text-light">Contact Information</h5>
                    <p class="card-text">
                        NEEL Food Products Pvt. Ltd.<br>
                        Mvv & Mk Park<br>
                        Vizag, AP 530001<br>
                        Phone: 123-456-7890<br>
                        Email: 123@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container mt-3">
</div>
<br><br>
{% endblock content %}