{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block slider %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock slider %}
{% block info %}
<div class="container">
    <div class="row row-gradient text-center p-5 text-light border-bottom shadow mt-3">
        <h1>Products</h1>
        <small class="fs-5">We offer a wide range of products both in liquid milk and its by-products. The liquid milk
            consists of 5 variants and by-products consist of 15 variants.
            We offer a wide range of milk products like milk, curd, doodhpeda, milkshake, lassi, ghee, paneer, cheese,
            ice-creams, and many more.
        </small>
    </div>
</div>
{% endblock info %}
{% block content %}
<div class="container">
    <h2 class="text-center mt-5">Our Dairy Products</h2>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s;animation-delay:0.6s;animation-name:none;">
            <div class="goodnesssec buttermilk smbg text-center">
                <a href="{% url 'category' 'GH' %}">
                    <img src="{% static 'app/images/buffalo-ghee.png' %}" alt="" class="img-responsive">
                    <button class="mlkpro">Ghee</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s;animation-delay:0.6s;animation-name:none;">
            <div class="goodnesssec buttermilk smbg text-center">
                <a href="{% url 'category' 'CR' %}">
                    <img src="{% static 'app/images/curd-total.png' %}" alt="" class="img-responsive">
                    <button class="mlkpro">Curd</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s;animation-delay:0.6s;animation-name:none;">
            <div class="goodnesssec buttermilk smbg text-center">
                <a href="{% url 'category' 'IC' %}">
                    <img src="{% static 'app/images/kulfi.png' %}" alt="" class="img-responsive">
                    <button class="mlkpro">Kulfi</button>
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s;animation-delay:0.6s;animation-name:none;">
            <div class="goodnesssec buttermilk smbg text-center">
                <a href="{% url 'category' 'MS' %}">
                    <img src="{% static 'app/images/milk-shake-chocolate.png' %}" alt="" class="img-responsive">
                    <button class="mlkpro">MilkShake</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s;animation-delay:0.6s;animation-name:none;">
            <div class="goodnesssec buttermilk smbg text-center">
                <a href="{% url 'category' 'ML' %}">
                    <img src="{% static 'app/images/cow-milk.png' %}" alt="" class="img-responsive">
                    <button class="mlkpro">Milk</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" data-wow-delay="0.6s"
            style="animation-duration: 1s;animation-delay:0.6s;animation-name:none;">
            <div class="goodnesssec buttermilk smbg text-center">
                <a href="{% url 'category' 'PA' %}">
                    <img src="{% static 'app/images/paneer-lite.png' %}" alt="" class="img-responsive">
                    <button class="mlkpro">Paneer</button>
                </a>
            </div>
        </div>
    </div>
    <br /><br />
</div>
{% endblock content %}