{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center mt-5">Password Reset</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5 form-gradient">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" value="Reset Password" class="btn btn-light mt-4">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}