{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center mt-5">Password Reset Sent</h3>
            <hr>
            <p class="text-center">We've emailed you instructions for setting your password. You should receive the
                email shortly.</p>
        </div>
    </div>
</div>
{% endblock content %}